# NPM
/node_modules/

# Spago deps
/.spago/

# Spago compilation
/output/

# ESbuild bundle
/dist/

# Yarn
/yarn-error.log

# Tailwind output
/public/index.css

# Purescript IDE
.psc-ide-port

# Benchotron directory for benchmarks
/tmp
