* {
    margin: 0;
}

body {
    margin: 0;
}

.gemini-app {
    height: 100vh;
    background-color: #9aaecd;
}

.svg-wrapper {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around
}

.gemini-svg {
    display: block;
    height: 350px;
}

.motion-buttons-row {
    display: flex;
    justify-content: space-around;
}

.motion-buttons-group {
    display: flex;
    margin-top: 24px;
    gap: 24px;
}

.motion-button {
    height: 24px;
    width: 30px;
}

.gemini-debug {
    position: absolute;
    top: 10vh;
    left: 0;
    max-width: 300px;
}

.ring {
    fill: #816c5b;
}

.disk-label {
    fill: black;
    font-size: 10px;
}

.disk-black > .disk-label {
    fill: white;
}

.disk-unknown {
    fill: purple;
}

.disk-white {
    fill: white;
}

.disk-black {
    fill: black;
}

.disk-yellow {
    fill: #fadd00;
}

.disk-red {
    fill: #ad0000;
}

.disk-green {
    fill: #45ab36;
}

.disk-blue {
    fill: #00aeff;
}
