@namespace svg url(http://www.w3.org/2000/svg);
/* defaults */
:root {
  --disk-unknown: purple;
  --disk-white: white;
  --disk-black: black;
  --disk-yellow: #fadd00;
  --disk-red: #ad0000;
  --disk-green: #45ab36;
  --disk-blue: #00aeff;
  --ring-background: #816c5b;
  --panel-border: #82a6e3;
  --button-background: #0069ed;
  --button-background-hover: #0053ba;
}

* {
    margin: 0;
}

body {
    margin: 0;
    overflow: hidden;
}

/* button reset */
button {
    color: #000000;
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    user-select: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    /* background-color: gray; */
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* root div */
.gemini-app {
    height: 100vh;
    background-color: #9aaecd;
}


/* UI Elements */
.header {
    display: flex;
    justify-content: flex-end;
}

.control-panel {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    padding: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.button-group.actions {
    gap: 12px;
    width: 110px;
}

.action-button {
    color: white;
    background: var(--button-background);
    box-shadow: 3px 3px 3px rgb(0 0 0 / 48%);
    transition:
        background 250ms ease-in-out,
        transform 250ms ease-in-out,
        box-shadow 250ms ease-in-out;
}

.action-button:hover,
.action-button:active {
    background: var(--button-background-hover);
}

.action-button:active {
    box-shadow: none;
    transform: translate(1px, 1px);
}

.button-group.motions {
}

.button-group.options {
    width: 75px;
}

.motion-button {
    height: 24px;
    width: 30px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}

.checkbox input {
    cursor: pointer;
}

.checkbox-label {
    padding-right: 5px;
}

/* Gemini Puzzle */
.gemini-wrapper {
    display: flex;
    justify-content: space-between;
}

.gemini {
    font-size: 35px;
    user-select: none;
    height: 300px;
    width: 630px;
    margin: 0 20px;
}

.saved-moves-panel {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 20px;
    overflow-y: scroll;
    padding: 12px;
    max-height: calc(100vh - 130px);
}

.move {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.move-description {
    display: flex;
    flex-direction: column;
    background: #c8d0ff;
    border: none;
    padding: 0;
    margin-right: 12px;
    border-radius: 10px;
    padding: 4px 6px;
}

.delete-move {
    --width: 25px;
    flex: 0 0 var(--width);
    height: var(--width);
    border-radius: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bold ;
    background-color: #efefef;
    transition:
        background-color 250ms ease-in-out;
}


.delete-move:hover {
    background-color: gray;
}


.move-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.cycles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
}

.cycle {
    text-align: left;
    padding-left: 10px;
}

.cycle:hover {
    background-color: #85bcff;
}


/* html gemini */
div.gemini {
    display: flex;
    flex-direction: row;
} 

div.ring {
    position: relative;
    border-radius: 100%;
    background-color: var(--ring-background);
    flex-shrink: 0;
}

div.ring-L {

}

div.ring-C {
    right: 135px;
}

div.ring-R {
    right: 270px;
}

div.disk {
    position: absolute;
    text-align: center;
    border-radius: 100%;
    z-index: 1;
    box-sizing: border-box;
}

div.disk > .disk-label {
    color: black;
}

div.disk.black > .disk-label {
    color: white;
}

/* colors */
div.disk.unknown {
    background-color: var(--disk-unknown);
}

div.disk.white {
    background-color: var(--disk-white);
}

div.disk.black {
    background-color: var(--disk-black);
}

div.disk.yellow {
    background-color: var(--disk-yellow);
}

div.disk.red {
    background-color: var(--disk-red);
}

div.disk.green {
    background-color: var(--disk-green);
}

div.disk.blue {
    background-color: var(--disk-blue);
}


/* svg gemini */
svg.gemini {
    display: block;
}

circle.ring {
    fill: var(--ring-background);
}

text.disk-label {
    fill: black;
    font-size: 10px;
}

svg|g.disk.black > .disk-label {
    fill: white;
}

svg|g.disk.unknown {
    fill: var(--disk-unknown);
}

svg|g.disk.white {
    fill: var(--disk-white);
}

svg|g.disk.black {
    fill: var(--disk-black);
}

svg|g.disk.yellow {
    fill: var(--disk-yellow);
}

svg|g.disk.red {
    fill: var(--disk-red);
}

svg|g.disk.green {
    fill: var(--disk-green);
}

svg|g.disk.blue {
    fill: var(--disk-blue);
}
