@namespace svg url(http://www.w3.org/2000/svg);

* {
    margin: 0;
}

body {
    margin: 0;
}

:root {
  --disk-unknown: purple;
  --disk-white: white;
  --disk-black: black;
  --disk-yellow: #fadd00;
  --disk-red: #ad0000;
  --disk-green: #45ab36;
  --disk-blue: #00aeff;
  --ring-background: #816c5b;

}


/* root div */
.gemini-app {
    height: 100vh;
    background-color: #9aaecd;
}


/* UI Elements */
.control-panel {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    gap: 12px;
    align-items: center;
}

.button-group {
    width: 60vw;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.motion-button {
    height: 24px;
    width: 30px;
}

label {
    display: flex;
    align-items: center;
}
.label-text {
    padding-right: 5px;
}

/* Gemini Puzzle */
.gemini-wrapper {
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
}

.gemini {
    font-size: 35px;
}

.gemini-debug {
    position: absolute;
    top: 10vh;
    left: 0;
    max-width: 300px;
}


/* html gemini */
div.gemini {
    display: flex;
    flex-direction: row;
}
div.ring {
    position: relative;
    border-radius: 100%;
    background-color: var(--ring-background);
}
div.disk {
    position: absolute;
    text-align: center;
    border-radius: 100%;
    z-index: 1;
}


div.disk.label {
    color: black;
    font-size: 10px;
}

div.disk.black > .disk-label {
    color: white;
}

/* colors */
div.disk.unknown {
    background-color: var(--disk-unknown);
}

div.disk.white {
    background-color: var(--disk-white);
}

div.disk.black {
    background-color: var(--disk-black);
}

div.disk.yellow {
    background-color: var(--disk-yellow);
}

div.disk.red {
    background-color: var(--disk-red);
}

div.disk.green {
    background-color: var(--disk-green);
}

div.disk.blue {
    background-color: var(--disk-blue);
}


/* svg gemini */
svg.gemini {
    display: block;
    height: 300px;
}

circle.ring {
    fill: var(--ring-background);
}

text.disk-label {
    fill: black;
    font-size: 10px;
}

svg|g.disk.black > .disk-label {
    fill: white;
}

svg|g.disk.unknown {
    fill: var(--disk-unknown);
}

svg|g.disk.white {
    fill: var(--disk-white);
}

svg|g.disk.black {
    fill: var(--disk-black);
}

svg|g.disk.yellow {
    fill: var(--disk-yellow);
}

svg|g.disk.red {
    fill: var(--disk-red);
}

svg|g.disk.green {
    fill: var(--disk-green);
}

svg|g.disk.blue {
    fill: var(--disk-blue);
}
