.arrow-button {
  color: white;
  text-emphasis: bold;
  font-size: 16px;
  box-shadow: 1px 1px 1px 1px black;
  background-color: blue;
  border: none;
  cursor: pointer;
  border-radius:100%;
  width: 20px;
  height: 20px;
  user-select: none;
  outline: none;
  margin: 0 5px;
  text-align: center;
}

.arrow-button:active {
  box-shadow: none;
  transform: translate(1px, 1px);
}

.arrow-button:disabled {
  background-color: gray;
  box-shadow: none;
  cursor: auto;
}
