/* defaults */
:root {
    --disk-unknown: purple;
    --disk-white: white;
    --disk-black: black;
    --disk-yellow: #fadd00;
    --disk-red: #ad0000;
    --disk-green: #45ab36;
    --disk-blue: #00aeff;
    --ring-background: #816c5b;
    --panel-border: #82a6e3;
    --button-background: #0069ed;
    --button-background-hover: #0053ba;
}

* {
    margin: 0;
}

body {
    margin: 0;
    overflow: hidden;
}

/* button reset */
button {
    color: #000000;
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    /* background-color: gray; */
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* drag */
.dragging {
    cursor: grabbing;
}

/* root div */
.gemini-app {
    height: 100vh;
    background-color: #9aaecd;
}


/* UI Elements */
.header {
    display: flex;
    justify-content: space-between;
}

.control-panel {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    padding: 20px;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.button-group.actions {
    gap: 12px;
    width: 110px;
}


.mobile .button-group {
    flex-direction: row;
    gap: 20px;
    width: auto;
}
    

.action-button {
    color: white;
    padding: 6px 12px;
    background: var(--button-background);
    box-shadow: 3px 3px 3px rgb(0 0 0 / 48%);
    transition:
        background 250ms ease-in-out,
        transform 250ms ease-in-out,
        box-shadow 250ms ease-in-out;
}

.action-button:hover,
.action-button:active {
    background: var(--button-background-hover);
}

.action-button:active {
    box-shadow: none;
    transform: translate(1px, 1px);
}


.button-group.motions {
}

.button-group.options {
    width: 75px;
}

.motion-button {
    height: 24px;
    width: 30px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
}

.checkbox input {
    cursor: pointer;
}

.checkbox-label {
    padding-right: 5px;
}

/* Gemini Puzzle */
.gemini-wrapper {
    display: flex;
    justify-content: space-between;
}

.mobile .gemini-wrapper {
    justify-content: space-evenly;
}

.gemini {
    position: relative;
    font-size: 35px;
    user-select: none;
    height: 300px;
    width: 630px;
    margin: 0 20px;
}

.saved-moves-panel {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: scroll;
    max-height: calc(100vh - 130px);
    padding: 12px 12px 0 0;
    margin: 0 20px;
}

.move {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.move-description {
    display: flex;
    flex-direction: column;
    background: #c8d0ff;
    border: none;
    padding: 0;
    border-radius: 10px;
    padding: 6px 12px;
    font-family: monospace;
}

.scrollbar-pad {
    flex: 1 0 24px;
}

.motions {
    user-select: none;
}

.cycles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
    margin-left: 12px;
}

.cycle {
    text-align: left;
    user-select: none;
    flex: 1 1 auto;
}

.cycle:hover {
    background-color: #85bcff;
}

.delete-move {
    margin-left: 12px;
    --width: 23px;
    flex: 0 0 var(--width);
    height: var(--width);
    border-radius: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bold ;
    background-color: #efefef;
    transition:
        background-color 250ms ease-in-out;
}

.delete-move:hover {
    background-color: #c4c4c4;
}

.move-blank {
    height: 100px;
}


/* html gemini */
.gemini {
    display: flex;
    flex-direction: row;
} 

.ring {
    position: relative;
    border-radius: 100%;
    background-color: var(--ring-background);
    flex-shrink: 0;
}

.ring.dragging {
    z-index: 1;
}

.ring-L {

}

.ring-C {
    right: 135px;
}

.ring-R {
    right: 270px;
}

.disk {
    position: absolute;
    text-align: center;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: grab;
    z-index: 2;
    box-shadow: 1px 1px 3px rgb(28 25 23 / 50%);
}


.disk.hidden {
    display: none;
}

.disk.drag-disabled {
    cursor: not-allowed;
}

.dragging div.disk {
    cursor: grabbing;
}


.disk-label {
    position: relative;
    color: black;
    user-select: none;
}

.disk.black > .disk-label {
    color: white;
}

/* colors */
.disk.unknown {
    background-color: var(--disk-unknown);
}

.disk.white {
    background-color: var(--disk-white);
}

.disk.black {
    background-color: var(--disk-black);
}

.disk.yellow {
    background-color: var(--disk-yellow);
}

.disk.red {
    background-color: var(--disk-red);
}

.disk.green {
    background-color: var(--disk-green);
}

.disk.blue {
    background-color: var(--disk-blue);
}
