/* defaults */
:root {
    --disk-unknown: purple;
    --disk-white: white;
    --disk-black: black;
    --disk-yellow: #fadd00;
    --disk-red: #ad0000;
    --disk-green: #45ab36;
    --disk-blue: #00aeff;
    --ring-diameter: 350px;
    --ring-background: #816c5b;
    --panel-border: #82a6e3;
    --button-background: #0069ed;
    --button-background-hover: #0053ba;
    --background-color: #9aaecd;
    --scrollbar-color: #a2dcd7;
    --stats-background: gray;
}

* {
    margin: 0;
}

html {
    height: 100%;
    font-family: Times, serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--background-color);
}

/* button reset */
button {
    color: #000000;
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    user-select: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.action-button {
    display: block;
    color: white;
    padding: 6px 12px;
    width: 98px;

    background: var(--button-background);
    box-shadow: 3px 3px 3px rgb(0 0 0 / 48%);
    transition:
        background 250ms ease-in-out,
        transform 250ms ease-in-out,
        box-shadow 250ms ease-in-out;
}

.action-button:hover,
.action-button:active {
    background: var(--button-background-hover);
}

.action-button:active {
    box-shadow: none;
    transform: translate(1px, 1px);
}

.confetti {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: url("https://media.giphy.com/media/5T06ftQWtCMy0XFaaI/giphy.gif");
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.confetti.fade-in {
    visibility: visible;
    opacity: 1;
    animation: 1s fade-in;
}

.confetti.fade-out {
    visibility: visible;
    opacity: 0;
    animation: 1s fade-out;
}


@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to   { opacity: 0; }
}


.gemini {
    display: flex;
    height: var(--ring-diameter);
    width: calc(3 * var(--ring-diameter));
    background: url(./wood.jpg)
}


.disk {
    height: 14%;
    width: 14%;
    position: absolute;
    border-radius: 100%;
    box-sizing: border-box;
    cursor: grab;
    z-index: 2;
    box-shadow: 3px 3px 1px rgba(28, 25, 23, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colors */
.disk.unknown {
    background-color: var(--disk-unknown);
}

.disk.white {
    background-color: var(--disk-white);
}

.disk.black {
    color: white;
    background-color: var(--disk-black);
}

.disk.yellow {
    background-color: var(--disk-yellow);
}

.disk.red {
    background-color: var(--disk-red);
}

.disk.green {
    background-color: var(--disk-green);
}

.disk.blue {
    background-color: var(--disk-blue);
}
